ErrorDocument 404 http://www.wellnessaufruegen.de/404.html
RewriteEngine On
#RewriteCond %{HTTP_HOST} ^([^.]+)\.wellnessaufruegen\.de$ [NC]
#RewriteRule ^(.*)$ http://wellnessaufruegen.de/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html?|php)\ HTTP/
RewriteRule ^index\.(html?|php)$ http://www.wellnessaufruegen.de/ [R=301,L]