<div ng-if="category !== undefined">
    <div class="wrap">
        <div class="services">
            <h1>{{category.name}}</h1>
            <div ng-if="!category.style || category.style == 'horizontal'" class="horizontal-design" data-ng-include="'views/tpl/category_body_horizontal.html'"> </div>
            <div ng-if="category.style && category.style == 'vertical'" class="vertical-design" data-ng-include="'views/tpl/category_body_vertical.html'"> </div>
            <div id="serviceButtonGroup">
                <div class="large-box">
                    <div class="large-inner-box text-center">
                        <div class="button button-large dplib"><span><a href="#" ui-sref="main.contact" title="Termin anfragen">Termin/Gutschein anfragen</a></span></div>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="large-box">
                <div class="large-inner-box">
                    <h4>Andere Angebote</h4>
                    <ul class="serviceListing">
                        <li ng-repeat="product in products"><a href="#" ui-sref="main.category({alias: product.alias})" title="{{ product.name }}">{{ product.name }}</a></li>
                    </ul>
                    <div class="button dplib"><span><a href="#" ui-sref="main.gallery" title="Wellness Oase Gallerie">Bildergalerie</a></span></div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>