<div class="wrap">
    <div class="contact">
        <h1>Kontakt - Massage & Naturheilpraxis Sylke Scheduikat</h1>
        <div class="section group contact1">
            <div class="col span_1_of_3">
                <div class="company_address">
                    <h3>Unternehmen :</h3>
                    <p>Parkweg 6e,</p>
                    <p>18556 Breege,</p>
                    <p>Deutschland</p>
                    <p><span class="bold">Telefon:</span> <a href="tel:038391935675">038391 ⁄ 935675</a></p>
                    <p><span class="bold">Mobil:</span> <a href="tel:01739504573">0173-9504573</a></p>
                    <p>Fax: 038391 / 935675</p>
                    <p><span class="bold">E-Mail:</span> <a href="mailto:naturheilpraxis-scheduikat@web.de">naturheilpraxis-scheduikat@web.de</a></p>


                </div>
            </div>
            <div class="col span_2_of_3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577.5551267620793!2d13.366074629294149!3d54.617723475305084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ab5055670720af%3A0x31e512963ea3564f!2sHeilpraktikerin%20Sylke%20Scheduikat!5e0!3m2!1sde!2sde!4v1665056966826!5m2!1sde!2sde" style="width:100%;border:0;" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>