<div class="wrap">
    <div class="gallerysite">
        <h1>Unsere Praxis</h1>
        <div class="gallery">

            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/algen.jpg" data-lightbox="gallery" data-title="Eine Algenpackung" title="Eine Algenpackung">
                        <img src="images/thumbs/algen.jpg" alt="Eine Algenpackung" title="Eine Algenpackung">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/oetinger.JPG" data-lightbox="gallery" data-title="Oetinger" title="Oetinger">
                        <img src="images/praxis/thumbs/oetinger.jpg" alt="Oetinger" title="Oetinger">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/glaeser.JPG" data-lightbox="gallery" data-title="Professionelle Beratung" title="Professionelle Beratung">
                        <img src="images/praxis/thumbs/glaeser.jpg" alt="Professionelle Beratung" title="Professionelle Beratung">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreide1.jpg" data-lightbox="gallery" data-title="Kreidepeeling Rücken" title="Kreidepeeling">
                        <img src="images/thumbs/kreide1.jpg" alt="Kreidepeeling" title="Kreidepeeling">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreidealge.jpg" data-lightbox="gallery" data-title="Die Kreidealge" title="Die Kreidealge">
                        <img src="images/thumbs/kreidealge.jpg" alt="Die Kreidealge" title="Die Kreidealge">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreidebad.jpg" data-lightbox="gallery" data-title="Vollbad mit Rügener Heilkreide" title="Vollbad mit Rügener Heilkreide">
                        <img src="images/thumbs/kreidebad.jpg" alt="Vollbad mit Rügener Heilkreide" title="Vollbad mit Rügener Heilkreide">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreidegesicht.jpg" data-lightbox="gallery" data-title="Kreidepeeling" title="Kreidepeeling">
                        <img src="images/thumbs/kreidegesicht.jpg" alt="Kreidepeeling" title="Kreidepeeling">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreidegesichtpackung.jpg" data-lightbox="gallery" data-title="Kreidegesichtspackung" title="Kreidegesichtspackung">
                        <img src="images/thumbs/kreidegesichtpackung.jpg" alt="Kreidegesichtspackung" title="Kreidegesichtspackung">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/kreidemassage.jpg" data-lightbox="gallery" data-title="Oberhörperkreidepeeling" title="Oberhörperkreidepeeling">
                        <img src="images/thumbs/kreidemassage.jpg" alt="Oberhörperkreidepeeling" title="Oberhörperkreidepeeling">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/talmud.JPG" data-lightbox="gallery" data-title="Talmud" title="Talmud">
                        <img src="images/praxis/thumbs/talmud.jpg" alt="Talmud" title="Talmud">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/goethe.JPG" data-lightbox="gallery" data-title="Goethe" title="Goethe">
                        <img src="images/praxis/thumbs/goethe.jpg" alt="Goethe" title="Goethe">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/hotstone-hoch2.jpg" data-lightbox="gallery" data-title="Hot Stone Massage" title="Hot Stone Massage">
                        <img src="images/thumbs/hotstone-hoch2-normal.jpg" alt="Hot Stone Massage" title="Hot Stone Massage">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/kreide.JPG" data-lightbox="gallery" data-title="Rügener Heilkreide" title="Rügener Heilkreide">
                        <img src="images/praxis/thumbs/kreide.jpg" alt="Rügener Heilkreide" title="Rügener Heilkreide">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/praxis_5.JPG" data-lightbox="gallery" data-title="Sonne" title="Sonne">
                        <img src="images/praxis/thumbs/praxis_5.jpg" alt="Sonne" title="Sonne">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/davinci.JPG" data-lightbox="gallery" data-title="Da Vinci" title="Da Vinci">
                        <img src="images/praxis/thumbs/davinci.jpg" alt="Da Vinci" title="Da Vinci">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/heilpraktiker.JPG" data-lightbox="gallery" data-title="Heilpraktiker" title="Heilpraktiker">
                        <img src="images/praxis/thumbs/heilpraktiker.jpg" alt="Heilpraktiker" title="Heilpraktiker">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/ostheopathie.JPG" data-lightbox="gallery" data-title="Osteopathie" title="Osteopathie">
                        <img src="images/praxis/thumbs/ostheopathie.jpg" alt="Osteopathie" title="Osteopathie">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/masseur.JPG" data-lightbox="gallery" data-title="Masseur" title="Masseur">
                        <img src="images/praxis/thumbs/masseur.jpg" alt="Masseur" title="Masseur">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/praxis_1.JPG" data-lightbox="gallery" data-title="Praxisräume" title="Praxisräume">
                        <img src="images/praxis/thumbs/praxis_1.jpg" alt="Praxisräume" title="Praxisräume">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/praxis_2.JPG" data-lightbox="gallery" data-title="Praxisräume" title="Praxisräume">
                        <img src="images/praxis/thumbs/praxis_2.jpg" alt="Praxisräume" title="Praxisräume">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/praxis_3.JPG" data-lightbox="gallery" data-title="Praxisräume" title="Praxisräume">
                        <img src="images/praxis/thumbs/praxis_3.jpg" alt="Praxisräume" title="Praxisräume">
                    </a>
                </div>
            </div>
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/praxis_4.JPG" data-lightbox="gallery" data-title="Praxisräume" title="Praxisräume">
                        <img src="images/praxis/thumbs/praxis_4.jpg" alt="Praxisräume" title="Praxisräume">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3">
                    <a href="images/praxis/urkunden.JPG" data-lightbox="gallery" data-title="Urkunden" title="Urkunden">
                        <img src="images/praxis/thumbs/urkunden.jpg" alt="Urkunden" title="Urkunden">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>