<div class="wrap">
    <div class="about">
        <h2 class="subhead">Über Heilpraktikerin Sylke Scheduikat</h2>
        <div class="clear"> </div>
        <div class="box">
            <div class="left-box">
                <div class="left-box1 frist-box">
                    <p><img src="images/sylke-scheduikat-wellness-oase-ruegen.jpg" alt="Sylke Scheduikat" title="Sylke Scheduikat"></p>
                </div>
                <div class="left-box1">
                    <p>
                        Mein Name ist Sylke Scheduikat. Ich bin Heilpraktikerin und meine Berufung ist
                        es dafür zu sorgen, dass es Ihnen gut geht. Aufgrund von mehr als 25 Jahren
                        Berufserfahrung und vielen Weiterbildungen liegt mein Hauptaugenmerk in der
                        Behandlung von:
                    </p>
                    <ul>
                        <li>
                            Rücken- und Wirbelsäulenerkrankungen (Verspannungen, Bandscheibenvorfälle etc.)
                        </li>
                        <li>
                            Gelenk- und Muskelerkrankungen (Arthrose, Arthritis, akute Erkrankungen)
                        </li>
                        <li>
                            Kopfschmerzen und Migräne
                        </li>
                        <li>
                            Ödeme (Wassereinlagerungen, Schwellungen des Gewebes nach Verletzungen oder Operationen)
                        </li>
                        <li>
                            chronischen und akuten Schmerzen
                        </li>
                        <li>
                            Beschwerden in den Wechseljahren
                        </li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="right-box last qualifications">
                <h2>Meine Qualifikationen</h2>
                <ul>
                    <li>Heilpraktikerin</li>
                    <li>staatl. annerkannte Masseurin und medizinische Bademeisterin</li>
                    <li>Therapeutin für manuelle Lymphdrainage und Ödemtherapie</li>
                    <li>Osteopathie</li>
                    <li>Akupunktur nach traditioneller chinesischer
                        Medizin(TCM)
                    </li>
                    <li>original Faszientherapie nach Typaldos</li>
                    <li>Therapeutin für Fußreflexzonenmassage</li>
                    <li>Therapeutin für Marnitz speziell</li>
                    <li>Dorn- Therapie / Kinesio Taping</li>
                    <li>ärztlich geprüfte Ganzheitskosmetikerin</li>
                    <li>Ausbildung in klassischer Homöopathie</li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="services">
        <h1>Naturheilpraxis Angebote auf Rügen</h1>
        <div class="serviceHeadImage">
            <img src="images/new0909/nh/naturheilpraxis-oel.jpg" title="Naturheilpraxis Behandlungen" alt="Naturheilpraxis Sylke Scheduikat">
        </div>
        <div class="box">
            <div class="large-box">
                <div class="large-inner-box">
                    <span>Alle Behandlungen unterliegen der Schweigepflicht.</span>
                    <h3>Sie erreichen mich persönlich unter: naturheilpraxis-scheduikat@web.de oder 038391 / 935675</h3>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="large-box service-overview">
                <div class="left-box1 ">
                    <h2>Beratung</h2>
                    <span>25 min - 35 €</span>
                    <h2>Akutbehandlung</h2>
                    <span>25 min - 35 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Therapie individuell</h2>
                    <p>
                        Sie wissen nicht, welche Therapie die richtige für Sie ist? Buchen Sie einfach einen Zeitraum und ich stelle mich individuell auf Ihre Probleme und Wünsche ein.
                    </p>
                    <span>50 min - 70 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Halswirbelsäule Spezial</h2>
                    <p>
                        Hier liegt das Hauptaugenwerk auf der Behandlung der tiefen Hals- und Nackenmuskulatur aus
                        der Rückenlage. Ich arbeite dabei mit unterschiedlichen Massagetechniken, Akupressur und sanfter
                        Dehnung. Sie können sich anschließend freier bewegen und Sie haben das Gefühl als wäre Ihnen
                        eine Last von den Schultern gefallen. Besonders zu empfehlen bei Verspannungen im Schulter-,
                        Nachenbereich, bei Konzentrationsstörungen und Bewegungseinschränkungen von Hals und Kopf.
                    </p>
                    <span>25 min - 35 €</span>
                    <img src="images/new0909/nh/naturheilpraxis-halswirbel.jpg" title="Naturheilpraxis Halswirbelsäule Spezial" alt="Halswirbelsäule Spezial Behandlung">
                </div>
                <div class="left-box1 ">
                    <h2>Craniosacrale Therapie</h2>
                    <p>
                        Dies ist eine sehr sanfte und wohltuende Therapie aus dem Bereich der Osteopathie. Die
                        Therapie geht vom Schädel bis zum Kreuzbein. Es werden dabei insbesondere die Halswirbel sanft
                        in die richtige Position gebracht. Die Rückenmarksflüssigkeit kann wieder frei fließen und der
                        Gang wird aufrechter. Besonders hilfreich ist diese Therapie bei Migräne, Burnout, Nervosität,
                        Schwindel, Tinnitus, Spannungskopfschmerzen, starken Verspannungen im Brustwirbel-, Hals- und
                        Nackenbereich.
                    </p>
                    <span>45 min - 65 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Osteopathische Ganzheitstherapie</h2>
                    <p>
                        Diese Therapie wird meistens bei chronischen Beschwerden im Bewegungsapparat eingesetzt. Dabei
                        wird nicht das eigentliche Symptom behandelt. Der Mensch wird insgesamt gesehen. Ein Beispiel:
                        Kreuzschmerzen können auch von einer verspannten Bauchmuskulatur kommen. Oder Schmerzen unter
                        dem rechten Schulterblatt weil sich die Leber in Ihrer eigentlichen Lage verändert hat.
                        Nach einem Gespräch führe ich die Untersuchung durch, die oft unmerklich in die Behandlung
                        übergeht. Viele gesetzliche Krankenkassen übernehmen die Kosten für Osteopathie bereits
                        teilweise. Wenn die Kostenübernahmen für Sie entscheidend für eine Behandlung ist, erkundigen
                        Sie sich bitte vor Terminabsprache ob Ihre Krankenkasse die Kosten übernimmt. Ich bin Mitglied
                        im "Verband freier Osteopathen e.V." (VfO).
                    </p>
                    <span>ca 45- 60 min - 80 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Kinesio Taping</h2>
                    <p>
                        Beim Kinesio- Taping werden elastische Bänder in unterschiedlichen Mustern auf die Haut geklebt.
                        Dadurch wird der Lymphfluss im behandelten Bereich angeregt. Mit der Lymphe werden
                        Entzündungsstoffe aus dem therapierten Gebiet abtransportiert. Die Schmerzlinderung und Heilung
                        wird unterstützt. Der behandelte Bereich ist weiterhin beweglich, wird aber trotzdem gestützt.
                        Sehr zu empfehlen ist das Taping in Verbindung mit der Craniosacralen oder viszeralen Osteopathie,
                        aber auch bei Verletzungen oder chronischen Schmerzen einzelner Gelenke.
                    </p>
                    <span>Zeit und Preis je nach Aufwand ab 15 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Reiki</h2>
                    <p>
                        Reiki heißt universelle Energie. Durch das Auflegen der Hände auf die Energiezentren des Körpers
                        wird Energie übertragen. Diese Anwendung wird sehr beruhigend und löst keinen zusätzlichen Reiz
                        im Körper aus. Reiki ist besonders geeignet bei Erschöpfung, Überforderung, depressiven Verstimmungen und allen
                        chronischen Krankheiten.
                    </p>
                    <span>45 min - 65 €</span>
                </div>
                <div class="left-box1">
                    <h2>Manuelle Lymphdrainage</h2>
                    <p>
                        Das Lymphgefäßsystem ist neben dem Blutkreislauf das zweite große Gefäßsystem in unserem Körper.
                        Mit der Lymphdrainage werden Schlacke und Entzündungsstoffe aus unserem Körper abtransportiert.
                        Funktioniert der Lymphabfluss nicht, kommt es zum Beispiel zu geschwollenen Händen oder Füßen.
                        Oder man hat das Gefühl, das Gesicht ist geschwollen oder der Bauch aufgetrieben. Außerdem eignet
                        sich diese sanfte Form der Behandlung sehr zur Unterstützung bei Fastenkuren und Ernährungsumstellung.
                    </p>
                    <span>45 min - 65 €</span>
                </div>
                <div class="left-box1">
                    <h2>Bachblütentherapie- Die Seele ins Gleichgewicht bringen</h2>
                    <p>
                        Dr. Bach erkannte, das seelische Ungleichgewichte für das Auftreten von Krankheiten verantwortlich
                        sein können. Bachblüten helfen, mit negativen Gefühlen (z.B. Angst, Unsicherheit, Ungeduld, Trauer,
                        Hoffnungslosigkeit usw.) besser klar zu kommen. Die Bachblüten helfen insbesondere bei großen
                        Umbrüchen in der Lebensplanung wie z.B. Berufswechsel, Trennungen, Familienplanung, während
                        oder nach überstandenen Krankheiten, psychischen Belastungen, in der Pubertät und Wechseljahren.
                        Nach einem ausführlichen Gespräch werden die für Sie in Frage kommenden Bachblüten kinesiologisch ausgetestet.
                        Sie erhalten Ihre persönliche fertig gemixte Bachblütenmischung sofort zum Mitnehmen.
                    </p>
                    <span>ca. 50 min inkl. persönlicher Bachblütenmischung - 70 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Homöopathie</h2>
                    <p>
                        Die Homöopathie geht davon aus, dass Krankheitssymptome nicht die Krankheit selbst sind, sondern
                        Reaktionen auf die Störursachen, die zeigen, dass der Körper selbsttätig wieder das Gleichgewicht
                        herstellen will. Die Homöopathie versucht also nicht die Symptome zu unterdrücken, sondern die
                        Selbstheilungskräfte des Körpers anzuregen.<br>
                        Sie wirkt überall dort wo die Körpereigene Regulation noch erhalten ist und grundsätzlich eine
                        Möglichkeit zur Selbstheilung besteht. Dies gilt für viele akute Erkrankungen, besonders solche im
                        Kindesalter und für psychosomatische oder chronische Krankheiten.<br>
                        Eine homöopathische Behandlung ist sehr aufwendig. Es kann nur das richtige Mittel gefunden werden,
                        wenn der Behandler nicht nur die Krankheitszeichen, sondern den Patienten insgesamt sehr gut kennt.
                    </p>
                    <span>Erstanamnese ca. 2-3 Stunden - 140 €</span><br>
                    <span>Folgebehandlungen ca. 25 min - 35 €</span><br>
                    <span>Akutbehandlungen ca. 25min - 35 €</span>
                </div>
                <div class="left-box1 ">
                    <h2>Muskelentspannung nach Jacobsen</h2>
                    <p>
                        Das ist ein einfach zu erlernendes Entspannungsverfahren. Es ist für jeden geeignet und lässt
                        sich sehr gut zu Hause und auf der Arbeit umsetzen. Vorerkrankungen oder Alter spielen dabei
                        keine Rolle. Jeder der innerlich zur Ruhe kommen möchte, ist nach dieser Behandlungseinheit dazu
                        in der Lage. Besonders geeignet bei nervösen Unruhezuständen, zum Stressabbau, bei Angststörungen
                        und allen chronischen Erkrankungen.
                    </p>
                    <span>45 min - 65 €</span>
                </div>
                <div class="left-box1 ">
                    <img src="images/new0909/nh/naturheilpraxis-angebote.jpg" title="Naturheilpraxis Anwendungen" alt="Naturheilpraxis Unsere Behandlungen">
                </div>
                <div class="clear"> </div>
            </div>
            <div id="serviceButtonGroup" class="hide">
                <!-- load via js -->
            </div>
            <div class="large-box hide">
                <div class="large-inner-box">
                    <h4>Andere Angebote</h4>
                    <ul class="serviceListing">
                        <li><a href="massagen.html" title="Entspannende Massagen">Massagen</a></li>
                        <li><a href="kreide.html" title="Rügener Heilkreide">R&uuml;gener Heilkreide</a></li>
                        <li><a href="entschlacken.html" title="Entschlackungstherapien">Sanft entschlacken</a></li>
                        <li><a href="hotstone.html" title="Hot Stone Massagen">Hot Stone Therapie</a></li>
                        <li><a href="paare.html" title="Für Paare">Verliebt verlobt verheiratet</a></li>
                        <li><a href="ayurveda.html" title="Ayurveda">Ayurveda</a></li>
                        <li><a href="exotik.html" title="Exotik pur">Exotik pur</a></li>
                        <li><a href="kosmetik.html" title="Kosmetik Angebite">Kosmetikanwendungen</a></li>
                        <li><a href="verwoehn.html" title="Verwöhnprogramme">Verw&ouml;hnprogramme</a></li>
                    </ul>
                    <div class="button"><span><a href="services.html" title="Alle Angebote">Angebots&uuml;bersicht</a></span></div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>