<div class="wrap">
    <div class="about">
        <h1>Unsere Partner</h1>
        <div class="clear"> </div>
        <div class="box">
            <div class="large-box">
                <p>
                    <a href="http://www.fewo-traumzeit.de" target="_blank" title="Ferienwohnung in Breege">"Traumzeit" Ferienwohnung in Breege</a>
                    <span>Ferienwohnung im schönen Urlaubsort Breege. Nur 1 Minute zu Fuss von der Naturheilpraxis entfernt!</span>
                </p>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>