<div class="wrap">
    <div class="about">
        <h1>Unsere Partner</h1>
        <div class="clear"> </div>
        <div class="box">
            <div class="large-box">
                <p>
                    <a href="http://www.atrium-am-meer.de/" target="_blank" title="Hotel Atrium am Meer">Hotel Atrium</a>
                    <span>Dieses Hotel ist unmittelbar mit der Wellness und Naturheilpraxis verbunden</span>
                </p>
                <p>
                    <a href="http://www.sandstrand-ostseeperle.de/" target="_blank" title="Sandstrand Ostseeperle">Aparthotel Sandstrand Ostseeperle</a>
                    <span>In dieser Apartmentanlage befindet sich unsere Wellness Oase Glowe</span>
                </p>
                <p>
                    <a href="http://www.fewo-traumzeit.de" target="_blank" title="Ferienwohnung in Breege">"Traumzeit" Ferienwohnung in Breege</a>
                    <span>Ferienwohnung im schönen Urlaubsort Breege. Nur 5 Minuten zu Fuss von der Wellness Oase und dem Strand entfernt!</span>
                </p>
                <p>
                    <a href="http://www.duenenhaus.im-web.de" target="_blank" title="Hotel Dünenhaus">Dünenhaus</a>
                    <span>ca. 100m von der Wellness-Oase Juliusruh entfernt</span>
                </p>
                <p>
                    <a href="http://www.duenenresidenz.com" target="_blank" title="Hotel Dünenresidenz">Dünenresidenz</a>
                    <span>ca. 100m von der Wellness-Oase Juliusruh entfernt</span>
                </p>
                <p>
                    <a href="http://www.ruegen-windland.de" target="_blank" title="Restaurant Windland">Windland</a>
                    <span>ca. 500m von der Wellness-Oase Juliusruh entfernt</span>
                </p>
                <p>
                    <a href="http://www.seekistebreege.de" target="_blank" title="Seekistebreege">Seekistebreege</a>
                    <span>Regionale Produkte und Geschenkartikel</span>
                </p>
                <p>
                    <a href="http://www.familien-magazin.com" target="_blank" title="Das Familien Magazin">Familien Magazin</a>
                    <span>Ein Magazin für Familien.</span>
                </p>
                <div class="clear"> </div>
                <p>&nbsp;</p>
                        <span>
                            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
                            Für den Inhlt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
                        </span>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>