<div class="wrap">
    <div class="box">
        <div class="large-box">
            <h2 class="subhead">Über Heilpraktikerin Sylke Scheduikat</h2>
            <div class="clear"> </div>
            <div class="box">
                <div class="left-box">
                    <div class="left-box1 frist-box">
                        <p><img src="images/sylke-scheduikat-wellness-oase-ruegen.jpg" alt="Sylke Scheduikat" title="Sylke Scheduikat"></p>
                    </div>
                    <div class="left-box1">
                        <p style="font-size: 1em">
                            Mein Name ist Sylke Scheduikat. Ich bin Heilpraktikerin und meine Berufung ist
                            es dafür zu sorgen, dass es Ihnen gut geht. Aufgrund von mehr als 25 Jahren
                            Berufserfahrung und vielen Weiterbildungen liegt mein Hauptaugenmerk in der
                            Behandlung von:
                        </p>
                        <div >
                            <p style="font-size: 1em">
                                - Rücken- und Wirbelsäulenerkrankungen (Verspannungen, Bandscheibenvorfälle etc.)
                            </p>
                            <p style="font-size: 1em">
                                - Gelenk- und Muskelerkrankungen (Arthrose, Arthritis, akute Erkrankungen)
                            </p>
                            <p style="font-size: 1em">
                                - Kopfschmerzen und Migräne
                            </p>
                            <p style="font-size: 1em">
                                - Ödeme (Wassereinlagerungen, Schwellungen des Gewebes nach Verletzungen oder Operationen)
                            </p>
                            <p style="font-size: 1em">
                                - chronischen und akuten Schmerzen
                            </p>
                            <p style="font-size: 1em">
                                - Beschwerden in den Wechseljahren
                            </p>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="right-box last qualifications" style="border:none;">
                    <h2>Meine Qualifikationen</h2>
                    <ul>
                        <li>Heilpraktikerin</li>
                        <li>staatl. annerkannte Masseurin und medizinische Bademeisterin</li>
                        <li>Therapeutin für manuelle Lymphdrainage und Ödemtherapie</li>
                        <li>Osteopathie</li>
                        <li>Akupunktur nach traditioneller chinesischer
                            Medizin(TCM)
                        </li>
                        <li>original Faszientherapie nach Typaldos</li>
                        <li>Therapeutin für Fußreflexzonenmassage</li>
                        <li>Therapeutin für Marnitz speziell</li>
                        <li>Dorn- Therapie / Kinesio Taping</li>
                        <li>ärztlich geprüfte Ganzheitskosmetikerin</li>
                        <li>Ausbildung in klassischer Homöopathie</li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>