<div class="wrap">
    <div class="box">
        <div class="large-box">
            <h2 class="subhead">Über Heilpraktikerin Sylke Scheduikat</h2>
            <div class="clear"> </div>
            <div class="box">
                <div class="left-box">
                    <div class="left-box1 frist-box">
                        <p><img src="images/sylke-scheduikat-wellness-oase-ruegen.jpg" alt="Sylke Scheduikat" title="Sylke Scheduikat"></p>
                    </div>
                    <div class="left-box1">
                        <p style="font-size: 1em;">
                            Mein Name ist Sylke Scheduikat, geb am 05.01.1969. Ich bin Heilpraktikerin und meine Berufung ist es dafür zu sorgen das es Ihnen gut geht.
                        </p>
                        <p style="font-size: 1em;">
                            Aufgrund von fünfundzwanzig Jahren Berufserfahrung und vielen Weiterbildungen, liegt mein Hauptaugenmerk in der Behandlung von Rücken- und Wirbelsäulenschmerzen, Gelenk- und Muskelerkrankungen, Kopfschmerzen und Migräne. Aber auch die Behandlung der Haut insbesondere mit Schüssler Salzen und Salben und die Entschlackung des Körpers mit basischen Anwendungen und entstauenden Lymphdrainagen nimmt einen immer höheren Stellenwert ein.
                        </p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="right-box last qualifications" style="border:none;">
                    <h2>Meine Qualifikationen</h2>
                    <ul>
                        <li>Heilpraktikerin</li>
                        <li>staatl anerk. Masseurin/med. Bademeisterin</li>
                        <li>Therapeutin für manuelle Lymphdrainage
                            und Ödemtherapie
                        </li>
                        <li>Osteopathie</li>
                        <li>original Faszientherapie nach Typaldos</li>
                        <li>Therapeutin für Fußreflexzonenmassage</li>
                        <li>Therapeutin für Marnitz speziell </li>
                        <li>Therapeutin für craniosacrale Therapie</li>
                        <li>Dorn Therapie / Kinesio Taping</li>
                        <li>ärztlich geprüfte Ganzheitskosmetikern</li>
                        <li>Ausbildung in klassischer Homöopathie</li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>