<div class="wrap">
    <div class="services">
        <h1>Unsere Angebote</h1>
        <div class="section group" ng-repeat="product in products" ng-if="$index % 3 == 0">
            <div class="grid_1_of_3 images_1_of_3   greenGradientDownTop">
                <a href="#" ui-sref="main.category({alias: products[$index].alias})" title="{{ products[$index].name }}">
                    <img ng-src="images/{{products[$index].image_small}}" alt="{{ products[$index].name }}" title="{{ products[$index].name }}">
                </a>
                <h2>{{products[$index].name}}</h2>
                <p>
                    {{products[$index].description}}
                </p>
                <div class="button">
                    <span>
                        <a href="#" ui-sref="main.category({alias: products[$index].alias})" title="{{ products[$index].name }}">
                            Zu den Anwendungen
                        </a>
                    </span>
                </div>
            </div>
            <div class="grid_1_of_3 images_1_of_3   greenGradientDownTop" ng-if="products.length > ($index + 1)">
                <a href="#" ui-sref="main.category({alias: products[$index + 1].alias})" title="{{ products[$index + 1].name }}">
                    <img ng-src="images/{{products[$index + 1].image_small}}" alt="{{ products[$index + 1].name }}" title="{{ products[$index + 1].name }}">
                </a>
                <h2>{{products[$index + 1].name}}</h2>
                <p>
                    {{products[$index + 1].description}}
                </p>
                <div class="button">
                    <span>
                        <a href="#" ui-sref="main.category({alias: products[$index + 1].alias})" title="{{ products[$index + 1].name }}">
                            Zu den Anwendungen
                        </a>
                    </span>
                </div>
            </div>
            <div class="grid_1_of_3 images_1_of_3   greenGradientDownTop" ng-if="products.length > ($index + 2)">
                <a href="#" ui-sref="main.category({alias: products[$index + 2].alias})" title="{{ products[$index + 2].name }}">
                    <img ng-src="images/{{products[$index + 2].image_small}}" alt="{{ products[$index + 2].name }}" title="{{ products[$index + 2].name }}">
                </a>
                <h2>{{products[$index + 2].name}}</h2>
                <p>
                    {{products[$index + 2].description}}
                </p>
                <div class="button">
                    <span>
                        <a href="#" ui-sref="main.category({alias: products[$index + 2].alias})" title="{{ products[$index + 2].name }}">
                            Zu den Anwendungen
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <h4><a ui-sref="main.etikette" title="Etikette und Kosten">Wellness-Etikette und Kostenübernahme</a></h4>
        <div class="clear"> </div>
    </div>
</div>