<div class="image-slider">
    <div class="wrap">
        <ul class="rslides" id="slider1">
            <li><img src="images/slides/wellness-auf-ruegen-entspannung.jpg" alt="Wellness auf Rügen Entspannung pur" title="Wellness auf Rügen Entspannung in der Wellness Oase"></li>
            <li><img src="images/slides/wellness-hot-stone-massage.jpg" alt="Wellness auf Rügen Hot Stone Massage" title="Wellness auf Rügen Hot Stone Massagen in der Wellness Oase"></li>
            <li><img src="images/slides/naturheilpraxis-wellness-auf-ruegen.jpg" alt="Wellness auf Rügen - in der Naturheilpraxis" title="Naturheilpraxis - Wellness Oase Rügen"></li>
            <li><img src="images/slides/massage-wellness-ruegen.jpg" alt="Wellness auf Rügen Massagen" title="Wellness auf Rügen Massagen zur Entspannung"></li>
            <li><img src="images/slides/wellness-oase-algen.jpg" alt="Wellness auf Rügen Algenpackung" title="Algenpackung in der Wellness Oase"></li>
        </ul>
    </div>
    <div class="clear"> </div>
</div>
<div class="shadow">
    <img src="images/shadow.png" alt="Schatten" title="Schatten" />
</div>
<div id="offers" class="scrollingText">
    <p class="loading"><img src="images/lightbox/loading.gif"> Lädt Sonderangebote</p>
    <h3 style="display: none;">Sonderangebote: </h3>
</div>
<div class="clear"> </div>
<div class="content">
    <div class="wrap">
        <div class="grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <h3>Herzlich willkommen!</h3>
                    <p style="font-size: 13px;">
                        Ich begrüße Sie und freue mich das Sie meine Internetseite besuchen. Gerne nehme ich Sie mit auf eine kleine Reise durch verschiedene Therapiemöglichkeiten. Vielleicht machen Sie Urlaub hier und wollen gleichzeitig etwas für Ihre Gesundheit tun? Oder Sie haben akute Beschwerden? Ich helfe Ihnen gerne weiter.
                        <br><br>
                        Aufgrund der hohen Nachfrage bitte ich Sie ihre Termine mit mir so rechtzeitig wie möglich zu vereinbaren.
                    </p>
                        <dl class="opening-hours">
                        <dt>Montag, Dienstag, Donnerstag</dt>
                        <dd>9:00 - 18:00 Uhr</dd>
                        <dt>Freitag, Sonnabend</dt>
                        <dd>9:00 - 15:00 Uhr</dd>
                        <dt>Mittwoch</dt>
                        <dd>geschlossen</dd>
                        </dl>
                        <br>
                    <p style="font-size: 14px">
                        <span class="bold">Telefon:</span> <a href="tel:038391935675">038391 ⁄ 935675</a> <br>
                        <span class="bold">E-Mail:</span> <a href="mailto:naturheilpraxis-scheduikat@web.de">naturheilpraxis-scheduikat@web.de</a>
                    </p>
                    <div class="button dplib">
                        <span>
                            <a target="_self" href="flyer_naturheilpraxis_scheduikat_09_12_16.pdf" download="flyer_naturheilpraxis_scheduikat_09_12_16.pdf">
                                Download Aktueller Flyer
                            </a>
                        </span>
                    </div>
                </div>
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <a href="#" ui-sref="main.nature" title="Die Naturheilpraxis und Sylke Scheduikat">
                        <img class="notGreyImage" src="images/Deckblatt-small.jpg" style="margin-left: auto;margin-right: auto;max-height: 500px;" title="Wellness Oase auf Rügen - Naturheilpraxis - Sylke Scheduikat" alt="Wellness Oase - Naturheilpraxis - Sylke Scheduikat">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3 last greenGradientDownTop index-box-height">
                    <h3>Meine Behandlungen</h3>
                    <ul class="start-service-list">
                        <li ng-repeat="product in products">
                            <a href="#" ui-sref="main.category({alias: product.alias})" title="{{ product.name }}" style="font-size: 0.7em;">{{ product.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
            <div class="box">
                <div class="large-box greenGradientDownTop">
                    <h1>Wellnesszentrum in Juliusuh mit Saunalandschaft und Massage- und Naturheilpraxis</h1>
                    <p>&nbsp;</p>
                    <div class="left-box1 frist-box " >
                        <h2>Saunalandschaft</h2>
                        <p>
                            Im Saunabereich finden Sie eine Biosauna, eine finnische Sauna und ein Dampfbad, sowie einen großzügigen lichtdurchfluteten Ruhebereich.<br>
                            Das Wellnesszentrum Juliusruh ist dem Hotel „ Atrium am Meer“ angeschlossen. Die Gäste des Hotels kommen durch einen Bademanteldurchgang direkt in den Sauna- und Behandlungsbereich. Aber natürlich können auch alle außer Haus Gäste das Wellnesszentrum nutzen.
                            <br><br><br>
                            Auskunft über den Saunabereich erhalten Sie unter: 038391/4030
                        </p>
                    </div>
                    <div class="left-box1 ">
                        <h2>Kostenübernahme/ Zahlungsmodalitäten</h2>
                        <p>
                            Alle Angebote richten sich an Selbstzahler. Die Leistungen der Naturheilpraxis können nach GbüHP (Gebührenordnung Heilpraktiker) bei privaten Krankenkassen und privaten Zusatzversicherungen eingereicht werden.
                            <br><br>
                            Auch die Beihilfe übernimmt häufig die Kosten.
                            <br><br>
                            Wenn die Kostenübernahme für Sie entscheidend ist, erkundigen Sie sich bitte vor Terminabsprache bei Ihrem Leistungsträger.
                            <br><br>
                            Physiotherapeutische Maßnahmen (Wärmepackung, Massage, Lymph-drainage etc.) können nach vorheriger Absprache und Vorlage eines Privatrezeptes durchgeführt werden.

                        </p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>


        </div>
    </div>
    <div class="clear"> </div>
</div>