<div class="image-slider">
    <div class="wrap">
        <ul class="rslides" id="slider1">
            <li><img src="images/slides/praxis_flur.png" alt="Wellness auf Rügen - in der Naturheilpraxis" title="Naturheilpraxis & Massage Rügen"></li>
            <li><img src="images/slides/praxis_eingang.png" alt="Wellness auf Rügen Entspannung pur" title="Wellness auf Rügen"></li>
            <li><img src="images/slides/behandlungsraum.png" alt="Heilpraktiker auf Rügen" title="Heilpraktiker auf Rügen in Breege"></li>
            <li><img src="images/slides/massage-wellness-ruegen.jpg" alt="Wellness auf Rügen Massagen" title="Wellness auf Rügen Massagen zur Entspannung"></li>
            <li><img src="images/slides/wellness-oase-algen.jpg" alt="Wellness auf Rügen Algenpackung" title="Algenpackung in bei Frau Scheduikat"></li>
        </ul>
    </div>
    <div class="clear"> </div>
</div>
<div class="shadow">
    <img src="images/shadow.png" alt="Schatten" title="Schatten" />
</div>
<div class="clear"> </div>
<div class="content">
    <div class="wrap">
        <div class="grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <h3>Herzlich willkommen!</h3>
                    <p style="font-size: 13px;">
                        Ich begrüße Sie und freue mich das Sie meine Internetseite besuchen. Gerne nehme ich Sie mit auf eine kleine Reise durch verschiedene Therapiemöglichkeiten. Vielleicht machen Sie Urlaub hier und wollen gleichzeitig etwas für Ihre Gesundheit tun? Oder Sie haben akute Beschwerden? Ich helfe Ihnen gerne weiter.
                        <br><br>
                        Aufgrund der hohen Nachfrage bitte ich Sie ihre Termine mit mir so rechtzeitig wie möglich zu vereinbaren.
                    </p>
                        <dl class="opening-hours">
                        <dt>Montag, Dienstag, Donnerstag</dt>
                        <dd>9:00 - 18:00 Uhr</dd>
                        <dt>Freitag, Sonnabend</dt>
                        <dd>9:00 - 15:00 Uhr</dd>
                        <dt>Mittwoch</dt>
                        <dd>geschlossen</dd>
                        </dl>
                        <br>
                    <p style="font-size: 14px">
                        <span class="bold">Telefon:</span> <a href="tel:038391935675">038391 ⁄ 935675</a> <br>
                        <span class="bold">Mobil:</span> <a href="tel:01739504573">0173-9504573</a> <br>
                        <span class="bold">E-Mail:</span> <a href="mailto:naturheilpraxis-scheduikat@web.de">naturheilpraxis-scheduikat@web.de</a>
                    </p>
                    <div class="button dplib">
                        <span>
                            <a target="_self" href="Broschuere2019.pdf" download="Broschuere2019.pdf">
                                Download aktueller Flyer
                            </a>
                        </span>
                    </div>
                    <div>
                        <br>
                        <a aria-label="Chat on WhatsApp" href="https://wa.me/01739504573">
                            <img alt="Chat on WhatsApp" src="images/WhatsAppButtonGreenSmall.png" />
                        </a>
                    </div>
                </div>
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <a href="Broschuere2019.pdf" download="Broschuere2019.pdf"  title="Massage & Naturheilpraxis von Sylke Scheduikat">
                        <img class="notGreyImage" src="images/Deckblatt-Scheduikat.jpg" style="margin-left: auto;margin-right: auto;max-height: 500px;" title="Massage & Naturheilpraxis - Sylke Scheduikat" alt="Massage & Naturheilpraxis - Sylke Scheduikat">
                    </a>
                </div>
                <div class="grid_1_of_3 images_1_of_3 last greenGradientDownTop index-box-height">
                    <h3>Meine Behandlungen</h3>
                    <ul class="start-service-list">
                        <li ng-repeat="product in products">
                            <a href="#" ui-sref="main.category({alias: product.alias})" title="{{ product.name }}" style="font-size: 0.7em;">{{ product.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"> </div>
            <div class="box">
                <div class="large-box greenGradientDownTop">
                    <h1>Massage- und Naturheilpraxis in Breege auf Rügen</h1>
                    <p>&nbsp;</p>
                    <div class="left-box1 frist-box " >
                        <h2>Behandlungshonorar</h2>
                        <p>
                            Ich berechne meine Behandlungen nach Zeitaufwand, unabhängig von den angewandten Therapien:
                        </p>
                        <div class="bold">
                            25 min.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;38,-€
                            <br><br>
                            50 min.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70,-€
                            <br><br>
                            75 min.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100,-€
                        </div>
                        <p>
                            Bei den einzelnen Behandlungen finden Sie die möglichen Therapiezeiten, die Sie für die jeweilige Behandlung einplanen sollten.
                        </p>
                    </div>
                    <div class="left-box1 ">
                        <h2>Kostenübernahme/ Zahlungsmodalitäten</h2>
                        <p>
                            Alle Angebote richten sich an Selbstzahler. Die Leistungen der Naturheilpraxis können nach GbüHP (Gebührenordnung Heilpraktiker) bei privaten Krankenkassen und privaten Zusatzversicherungen eingereicht werden.
                            <br><br>
                            Auch die Beihilfe übernimmt häufig die Kosten.
                            <br><br>
                            Wenn die Kostenübernahme für Sie entscheidend ist, erkundigen Sie sich bitte vor Terminabsprache bei Ihrem Leistungsträger.
                            <br><br>
                            Physiotherapeutische Maßnahmen (Wärmepackung, Massage, Lymph-drainage etc.) können nach vorheriger Absprache und Vorlage eines Privatrezeptes durchgeführt werden.

                        </p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>