<div class="image-slider">
    <div class="wrap">
        <ul class="rslides" id="slider1">
            <li><img src="images/slides/wellness-auf-ruegen-entspannung.jpg" alt="Wellness auf Rügen Entspannung pur" title="Wellness auf Rügen Entspannung in der Wellness Oase"></li>
            <li><img src="images/slides/wellness-hot-stone-massage.jpg" alt="Wellness auf Rügen Hot Stone Massage" title="Wellness auf Rügen Hot Stone Massagen in der Wellness Oase"></li>
            <li><img src="images/slides/naturheilpraxis-wellness-auf-ruegen.jpg" alt="Wellness auf Rügen - in der Naturheilpraxis" title="Naturheilpraxis - Wellness Oase Rügen"></li>
            <li><img src="images/slides/massage-wellness-ruegen.jpg" alt="Wellness auf Rügen Massagen" title="Wellness auf Rügen Massagen zur Entspannung"></li>
            <li><img src="images/slides/wellness-oase-algen.jpg" alt="Wellness auf Rügen Algenpackung" title="Algenpackung in der Wellness Oase"></li>
        </ul>
    </div>
    <div class="clear"> </div>
</div>
<div class="shadow">
    <img src="images/shadow.png" alt="Schatten" title="Schatten" />
</div>
<div id="offers" class="scrollingText">
    <p class="loading"><img src="images/lightbox/loading.gif"> Lädt Sonderangebote</p>
    <h3 style="display: none;">Sonderangebote: </h3>
</div>
<div class="clear"> </div>
<div class="content">
    <div class="wrap">
        <div class="grids">
            <div class="section group">
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <h3>Willkommen!</h3>
                    <img class="notGreyImage" src="images/wellness-auf-ruegen-willkommen.jpg" title="Wellness auf Rügen - Willkommen" alt="Wellness auf Rügen in der Wellness Oase von Sylke Scheduikat">
                    <p>
                        Egal ob Sie Gast in einem unserer H&auml;user sind, Einheimischer oder in der Umgebung Ihren Urlaub genie&szlig;en, Sie k&ouml;nnen sich alle bei uns verw&ouml;hnen lassen!
                    </p>
                </div>
                <div class="grid_1_of_3 images_1_of_3 greenGradientDownTop index-box-height">
                    <h3>Naturheilpraxis</h3>
                    <img class="notGreyImage" src="images/angebote_naturheilpraxis_small.jpg" title="Wellness Oase auf Rügen - Naturheilpraxis - Sylke Scheduikat" alt="Wellness Oase - Naturheilpraxis - Sylke Scheduikat">
                    <p>
                        Unter Leitung von Heilpraktikerin Sylke Scheduikat arbeiten ausschlie&szlig;lich ausgebildete Fachkr&auml;fte wie Physiotherapeuten, Masseure und Kosmetiker in unserem Team.
                        Unser Motto: <b>"Es ist immer der Mensch der wichtigste, den wir gerade behandeln"</b>
                        Wir bieten fachgerechte Behandlungen in entspannter Atmosph&auml;re mit r&uuml;genspezifischen Produkten, sowie Dr. Spiller Biokosmetik.
                    </p>
                    <div class="button"><span><a href="naturheilpraxis.html" title="Über die Wellness Oase und die Inhaberin">Mehr erfahren</a></span></div>
                </div>
                <div class="grid_1_of_3 images_1_of_3 last greenGradientDownTop index-box-height">
                    <h3>Unsere Angebote</h3>
                    <ul>
                        <li ng-repeat="product in products"><a href="#" ui-sref="main.category({alias: product.alias})" title="{{ product.name }}">{{ product.name }}</a></li>
                    </ul>
                    <div class="button"><span><a href="services.html" title="Alle Angebote">Angebots&uuml;bersicht</a></span></div>
                </div>
            </div>
            <div class="clear"> </div>
            <div class="box">
                <div class="large-box greenGradientDownTop">
                    <h1>Wellness auf Rügen - in den Wellness-Oasen und der Naturheilpraxis von Sylke Scheduikat</h1>
                    <p>&nbsp;</p>
                    <div class="left-box1 frist-box " >
                        <h2>Wellness-Oase Juliusruh</h2>
                        <p>
                            Unsere Hauptgesch&auml;ftsstelle ist die Wellness-Oase in Juliusruh, die dem Hotel "Atrium am Meer" angeschlossen ist. Hier erwartet Sie eine Saunalandschaft
                            mit drei Saunen: eine finnische Sauna, ein Dampfbad und eine Biosauna. Au&szlig;erdem finden Sie Ruhe
                            und Entspannung in den beiden lichtdurchfluteten Ruher&auml;umen.<br>
                            Info Sauna: 038391 4030
                        </p>
                        <span>Alle Anwendungen auf dieser Seite k&ouml;nnen Sie in Juliusruh genie&szlig;en.</span>
                    </div>
                    <div class="left-box1 ">
                        <h2>Wellness-Oase Glowe</h2>
                        <p>
                            Die befindet sich im "Apart-Hotel Sandstrand Ostseeperle" in Glowe. Hier erwartet Sie ein sehr sch&ouml;ner
                            Saunabereich mit drei unterschiedlichen Saunen und einer au&szlig;ergew&ouml;hnlichen Au&szlig;enterrasse mit Meerblick.<br>
                            Info Sauna: 038302 56380
                        </p>
                        <span>Alle Anwendungen, die mit einem * gekennzeichnet sind, k&ouml;nnen nicht in der Wellness-Oase Glowe durchgef&uuml;hrt werden.</span>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>