<div class="wrap">
    <div class="about">
        <h1>Über Sylke Scheduikat</h1>
        <div class="clear"> </div>
        <div class="box">
            <div class="left-box">
                <div class="left-box1 frist-box">
                    <p><img src="images/sylke.jpg" alt="Sylke Scheduikat" title="Sylke Scheduikat"></p>
                </div>
                <div class="left-box1">
                    <p>
                        Mein Name ist Sylke Scheduikat, geb. am 05.01.1969. Ich bin seit 1987 verheiratet und habe zwei Söhne.<br>
                        Ich arbeite als Heilpraktikerin in der Naturheilpraxis und bin außerdem Inhaberin der Wellness-Oasen.
                    </p>
                    <p>
                        In meiner Naturheilpraxis, die direkt in der Wellness-Oase Juliusruh zu finden ist, berate ich Sie gern zu gesundheitlichen Problemen. <br>
                        Aufgrund vieler Qualifikationen und langjähriger Berufserfahrung liegt das Hauptaugenmerk vor allem in der Behandlung
                        von Wirbelsäulen-, Gelenk- und Muskelerkrankungen sowie Migräne, Ödemen, Haut- und anderen chronischen Erkrankungen,
                        sowie Ernährungsberatung.<br>
                    </p>
                    <p>
                        Ich arbeite mit unterschiedlichsten Therapien, die jeweils genau auf den Patienten abgestimmt werden.
                    </p>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="right-box last qualifications">
                <h2>Meine Qualifikationen</h2>
                <ul>
                    <li>Heilpraktikerin</li>
                    <li>Ausbildung in Osteopathie</li>
                    <li>Ausbildung in klassischer Homöopathie</li>
                    <li>staatl. annerkannte Masseurin und medizinische Bademeisterin</li>
                    <li>ärztlich geprüfte Ganzheitskosmetikerin</li>
                    <li>Therapeutin für Fußreflexzonenmassage</li>
                    <li>Reiki- Therapeutin</li>
                    <li>Therapeutin für craniosacrale Therapie</li>
                    <li>Kinesio Taping</li>
                    <li>geprüfte Metabolic-Balance-Beraterin</li>
                    <li>Therapeutin für manuelle Lymphdrainage und Ödemtherapie</li>
                    <li>Therapeutin für Marnitz speziell und Dorn- Therapie</li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>