<div class="wrap">
        <div class="services">
            <h1>Wellness-Etikette und Kostenübernahme</h1>
            <div class="box">
                <div class="large-box">
                    <div class="left-box1 frist-box">
                        <h5>Nehmen Sie sich Zeit</h5>
                        <p>
                            Um bereits vor der Behandlung Ruhe zu finden, bitten wir Sie, bereits zehn bis fünfzehn
                            Minuten vor Anwendungsbeginn an undere Wellness Rezeption zu kommen. Unsere angegebenen
                            Behandlungszeiten verstehen sich inklusive kurzer Nachruhe. Trotzdem sollten Sie ihre Zeit
                            nicht zu knapp planen, damit Sie in Ruhe wieder in den Alltag zurück kommen können.
                        </p>
                    </div>
                    <div class="left-box1">
                        <h5>Stornierungen</h5>
                        <p>
                            Sollten Sie einen Termin einmal nicht wahrnehmen können, haben Sie die Möglichkeit, diesen
                            24 Stunden vor Behandlungsbeginn kostenfrei zu verschieben oder zu stornieren.
                            Bei einer kurzfristigen Absage oder Änderung behalten wir und vor, Ihnen 100% des Behandlungspreises
                            in Rechnung zu stellen.
                        </p>
                    </div>
                    <div class="left-box1">
                        <h5>Handy</h5>
                        <p>
                            Für eine entspannte Atmosphäre bitten wie Sie während Ihres Aufenthaltes das Handy auszuschalten.
                        </p>
                    </div>
                    <div class="left-box1 frist-box">
                        <h5>Verspätungen</h5>
                        <p>
                            Aus Respekt gegenüber den nachfolgenden Gästen bitten wie um Verständnis, dass bei Verspätungen Ihrerseits
                            diese Zeit von der Behandlungszeit abgezogen wird. Der Termin wird zu 100% wie gebucht in Rechnung gestellt.
                        </p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="large-box">
                    <div class="large-inner-box">
                        <h5>Zahlungsmodalitäten</h5>
                        <p>
                            Alle Anwendungen der Wellness-Oase sind in Bar oder mit EC Karte zu bezahlen. Wir nehmen
                            keine Kreditkarten. Wenn Sie Gast im Hotel "Atrium am Meer" in Juliusruh oder in der
                            "Ostseeperle" in Glowe sind, können Sie die Anwendungen auch mit Ihrer Hotelrechnung bezahlen.
                            Wenn Sie direkt bei und bezahlt haben, können Sie kostenlos eine Quittung erhalten.
                            Wünschen Sie eine Rechnung ist aufgrund des erhöhten Zeitaufwandes eine Gebühr von 7,50€ pro Rechnung
                            zu bezahlen. Bitte teilen Sie und vor Behandlungsbeginn mit wenn Sie eine Rechnung wünschen und geben Sie und
                            schriftlich Ihre Rechnungsadresse.
                        </p>
                        <p>
                            Die Behandlungen in der Naturheilpraxis sind ebenfalls Bar oder mit EC Karte zu bezahlen.
                            Bezahlung über die Hotelrechnung ist grundsätzlich nicht möglich. Sie erhalten auf Wunsch
                            kostenlos eine Quittung oder Rechnung. Das wird bei Behandlungsbeginn persönlich abgesprochen.
                        </p>
                        <p>
                            Wenn Sie zeitgleich den Saunabereich nutzen, bitten wie Sie den Rechnungsbetrag gleich zur Behandlung mitzubringen.
                        </p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="large-box">
                    <div class="large-inner-box">
                        <h5>Kostenübernahme durch private Krankenkassen</h5>
                        <p>
                            Physiotherapeutische Maßnahmen (Massage, Krankengymnastik, Lymphdrainage, Packung) können
                            <span>nach vorheriger Absprache und Vorlage eines Privatrezeptes</span> druchgeführt werden.
                            Das ist nur in Juliusruh möglich. Sie erhalten eine Rechnung die am letzten Behandlungstag Bar oder
                            per EC zu bezahlen ist.
                        </p>
                        <p>
                            Die Leistungen der Naturheilpraxis können nach Gebührenordnung Heilpraktiker abgerechnet werden. Bitte
                            spätestens bei Terminabsprache angeben, wenn Sie eine Rechnungslegung wünschen.
                            Der Rechnungsbetrag ist ebenfalls nach der Behandlung Bar oder per EC zu bezahlen.
                        </p>
                        <h5>Vielen Dank!</h5>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>


