<div class="wrap">
    <h1>Impressum</h1>
    <div class="grids">
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <h2>Firma</h2>
                <p>
                    Wellness Oase & Naturheilpraxis <br>
                    Inhaberin: Sylke Scheduikat <br>
                    Wittower Straße 7 <br>
                    18556 Juliusruh <br>
                    Öffnungszeiten:<br>
                    Mo. - Sa. von 10:00 bis 20:00 Uhr<br>
                    <br>
                    UST-Nr.:<br>
                    082/267/01533
                </p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <h2>Kontaktmöglichkeiten</h2>
                <p>
                    Tel.: 038391 935675 <br>
                    Email: wellness-oase-rugen@web.de
                </p>
            </div>
            <div class="grid_1_of_3 images_1_of_3 last">
                <h2>Seiteninformation</h2>
                <p>
                    Erstellt von Tom Scheduikat<br>
                    <a href="mailto:Tom.Scheduikat@gmail.com">Tom.Scheduikat@gmail.com</a> <br>
                    <a href="http://www.tomscheduikat.com" target="_blank" title="Tom Scheduikat">www.tomscheduikat.com</a>
                </p>
                <h3>Quellenangaben für die verwendeten Bilder und Grafiken:</h3>
                <p>
                    Namen und Produkte anderer Firmen können eingetragene Warenzeichen und Markenzeichen der jeweiligen Rechteinhaber sein.
                </p>
                <span>Foto Jurk</span><br>
                <span>Fotos vom Rügener Heilkreide e.V.</span><br>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<div class="clear"> </div>