<div class="wrap">
    <div class="logo">
        <a href="#" ui-sref="main.start" title="Wellness Oase - Startseite">
            <img src="images/Logo-small.jpg" title="Massage und Naturheilpraxis - Sylke Scheduikat" alt="Wellness auf Rügen - Sylke Scheduikat"/>
        </a>
    </div>

    <div id="menu" class="top-nav">
        <a href="#" id="pull"><i class="menu-icon"></i> </a>
        <div class="clear"> </div>
        <ul id="mainmenu">
            <li class="nav-index" ng-class="{'active': $state.includes('main.start')}"><a href="#" ui-sref="main.start" title="Wellness-Oase Startseite">Start</a></li>
            <li class="nav-services" ng-class="{'active': $state.includes('main.category') || $state.includes('main.detail')}">
                <a href="#" ui-sref="main.overview" title="Wellness-Oase Angebote">Angebote</a>
                <ul>
                    <li class="submenu" ng-repeat="product in products"><a href="#" ui-sref="main.category({alias: product.alias})" title="{{ product.name }}">{{ product.name }}</a></li>
                </ul>
            </li>
            <!--<li class="nav-gallery"><a href="gallery.html" title="Wellness-Oase Bildergallerie">Gallerie</a></li>-->
            <!--<li class="nav-etikette"><a href="etikette.html" title="Wellnessetikette, Zahlungsmodalit&auml;ten, Kosten&uuml;bernahme private Krankenkasse">Wellness-Etikette</a></li>-->
            <li class="nav-contact" ng-class="{'active': $state.includes('main.contact')}"><a ui-sref="main.contact" title="Wellness-Oase Kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div class="clear"> </div>
</div>